<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jason.lxcoff.server"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    
    <application
        android:enabled="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:persistent="true" 
        android:largeHeap="true">
        
        <activity android:name="org.jason.lxcoff.server.ThinkAirServerActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="org.jason.lxcoff.server.ExecutionServer" >
            <intent-filter>
                <action android:name="de.tlabs.mobileCloud.server.ExecutionServer" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </service>

        <receiver android:name="org.jason.lxcoff.server.ExecutionServerAutoStarter" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
    </application>
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"  />

</manifest>